/* @keyframes HoverBurger{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
} */
/* //////////////////////////////////   PARTICLE JS   ///////////////////////////////// */
/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #232427;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -2;
} /* ---- stats.js ---- */
.header {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  z-index: -999;
}

.letter {
  letter-spacing: 1.5px;
}

.hoverBurger {
  transition: all 1s ease-in-out;
}

.hoverBurger:hover {
  transform: scale(105%);
  transform: scale(120%);
  /* animation: HoverBurger 1.5s */
}

.couleurTest {
  color: rgb(255, 255, 255);
}
.couleurTest:hover {
  background: #991b1b;
}

.couleurName {
  color: white;
}
.couleurName:hover {
  color: #991b1b;
}

.transitionOnClick {
  height: 100%;
  animation: transitiononclick2 1.5s;
}

.transitionOnClick2 {
  animation: transitiononclick 1.5s;
}

.football {
  animation: footballAnim 1.5s;
}

@keyframes transitiononclick2 {
  from {
    width: 0%;
    transform: translateY(-20%);
  }
  to {
    width: 100%;
    transform: translateY(0%);
  }
}
@keyframes transitiononclick {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes footballAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Jules {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader {
  position: fixed;
  inset: 0px;
  background-color: #232427;
  z-index: 9999;
  height: 100%;
}

#status {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: rgb(255, 255, 255);
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
  color: rgb(240, 95, 64) !important;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

canvas {
  position: fixed;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: rgb(33, 37, 41);
  background-image: url("");
  background-position: center center;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
