#preloader { position: fixed; inset: 0px; background-color: #232427; z-index: 9999; height: 100%; }
#status { position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); }
.ml5 { position: relative; font-weight: 300; font-size: 4.5em; color: rgb(255, 255, 255); }
.ml5 .text-wrapper { position: relative; display: inline-block; padding-top: 0.1em; padding-right: 0.05em; padding-bottom: 0.15em; line-height: 1em; }
.ml5 .line { position: absolute; left: 0px; top: 0px; bottom: 0px; margin: auto; height: 3px; width: 100%; background-color: rgb(255, 255, 255); }
.ml5 .ampersand { font-family: Baskerville, "EB Garamond", serif; font-style: italic; font-weight: 400; width: 1em; margin-right: -0.1em; margin-left: -0.1em; color: rgb(240, 95, 64) !important; }
.ml5 .letters { display: inline-block; opacity: 0; }
canvas { position: fixed; }
header.masthead { padding-top: 10rem; padding-bottom: calc(10rem - 56px); background-color: rgb(33, 37, 41); background-image: url(""); background-position: center center; background-size: cover; }
header.masthead hr { margin-top: 30px; margin-bottom: 30px; }
header.masthead h1 { font-size: 2rem; }
header.masthead p { font-weight: 300; }
@media (min-width: 768px) {
  header.masthead p { font-size: 1.15rem; }
}
@media (min-width: 992px) {
  header.masthead { height: 100vh; min-height: 650px; padding-top: 0px; padding-bottom: 0px; }
  header.masthead h1 { font-size: 3rem; }
}
@media (min-width: 1200px) {
  header.masthead h1 { font-size: 4rem; }
}
// npx sass --watch src/css/style.scss:src/css/style.css

/* //////////////////////////////////   PARTICLE JS   ///////////////////////////////// */



/* ---- reset ---- */canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #232427; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: -2; } /* ---- stats.js ---- */


/////////////////////////////////////////////// SECTION HEADER  ////////////////////////////////////////////////////////

.header{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    // z-index: -999;

}
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.hrStyle{
    margin-left: 60vw;
    max-width: 75px;
    border: solid 1px;
    border-color: #b3b2b2;
    @media screen and (min-width:800px){
        margin-left: 40vw;
    }
    @media screen and (min-width:650px){
        margin-left: 55vw;
    }
    
}

@media(min-width:400px) {
    .hrStyle {
        margin-left: 40vw;
    }
}
@media(min-width:575px) {
    .hrStyle {
        margin-left: 41.5vw;
    }
}
@media(min-width:650px) {
    .hrStyle {
        margin-left: 43vw;
    }
}
@media(min-width:750px) {
    .hrStyle {
        margin-left: 45vw;
    }
}
@media(min-width:950px) {
    .hrStyle {
        margin-left: 46.5vw;
    }
}
@media(min-width:1200px) {
    .hrStyle {
        margin-left: 48.2vw;
    }
}


.barking{
    padding: 0;
    margin: 0;
}
/////////////////////////////////////////  NAV + BURGER  //////////////////////////////////////////////////////
#myBtn {
    display: none; /* Masque le bouton par défaut */
    position: fixed; /* Positionne le bouton en haut à droite de l'écran */
    top: 1.5vw;
    left: 1.5vw;
    z-index: 99; /* Assure que le bouton reste au-dessus des autres éléments */
    font-size: 18px;
    border: none;
    outline: none;
    color: #750404c0;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    color: rgb(0, 0, 0);
  }

.letter{
    letter-spacing: 1.5px;
}

.letters{
    letter-spacing: 1px;
}
.hoverBurger{
    transition: all 1s ease-in-out;
}

.hoverBurger:hover{
    transform: scale(105%);
    transform: scale(120%);
    /* animation: HoverBurger 1.5s */
}



@mixin couleurNavM($colorText, $colorHover){
    color: $colorText;
    &:hover{
        background: $colorHover;
    }

}

@mixin couleurNameM($colorBefore ,$colorHover){
    color: $colorBefore;
    &:hover{
        color: $colorHover;
    }
}



.couleurTest{
    @include couleurNavM(rgb(255, 255, 255), #991b1b);
}

.couleurName{
    @include couleurNameM(white,#991b1b);
}


.transitionOnClick{
    animation-delay: 6s;
    height: 100%;
    animation: transitiononclick2 2 ;
}

.transitionOnClick2{
    animation-delay: 6s;
    animation: transitiononclick 2 ;
}

.football{
    animation-delay: 6s;
    animation: footballAnim 2s ;

}

@keyframes transitiononclick2{
    from{
        width: 0%;
        transform: translateY(-20%);
    }
    to{

        width: 100%;
        transform: translateY(0%);

    }

}

@keyframes transitiononclick{
    from{

        transform: translateY(-20%);
    }
    to{


        transform: translateY(0%);

    }

}

@keyframes footballAnim{
    from{

        opacity: 0;
    }
    to{
        opacity: 1;
    }

}


////////////////////////////////////// MODALS /////////////////////////////////////



.titreSectionPortfolio{
    color: rgb(165, 14, 14);
}

.hrStyleModal{
    height: 5rem;
    color: #7a7d80;
}
.wobble-hor-bottom {

	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
            animation-delay: 100ms;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-9 18:24:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
  