#preloader { position: fixed; inset: 0px; background-color: #232427; z-index: 9999; height: 100%; }
#status { position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); }
.ml5 { position: relative; font-weight: 300; font-size: 4.5em; color: rgb(255, 255, 255); }
.ml5 .text-wrapper { position: relative; display: inline-block; padding-top: 0.1em; padding-right: 0.05em; padding-bottom: 0.15em; line-height: 1em; }
.ml5 .line { position: absolute; left: 0px; top: 0px; bottom: 0px; margin: auto; height: 3px; width: 100%; background-color: rgb(255, 255, 255); }
.ml5 .ampersand { font-family: Baskerville, "EB Garamond", serif; font-style: italic; font-weight: 400; width: 1em; margin-right: -0.1em; margin-left: -0.1em; color: rgb(240, 95, 64) !important; }
.ml5 .letters { display: inline-block; opacity: 0; }
canvas { position: fixed; }
header.masthead { padding-top: 10rem; padding-bottom: calc(10rem - 56px); background-color: rgb(33, 37, 41); background-image: url(""); background-position: center center; background-size: cover; }
header.masthead hr { margin-top: 30px; margin-bottom: 30px; }
header.masthead h1 { font-size: 2rem; }
header.masthead p { font-weight: 300; }
@media (min-width: 768px) {
  header.masthead p { font-size: 1.15rem; }
}
@media (min-width: 992px) {
  header.masthead { height: 100vh; min-height: 650px; padding-top: 0px; padding-bottom: 0px; }
  header.masthead h1 { font-size: 3rem; }
}
@media (min-width: 1200px) {
  header.masthead h1 { font-size: 4rem; }
}

// npx sass --watch src/css/style.scss:src/css/style.css

/* //////////////////////////////////   PARTICLE JS   ///////////////////////////////// */



/* ---- reset ---- */canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js, #particles-js2{ position:absolute; width: 100%; height: 100%; background-color: #232427; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: -2; } /* ---- stats.js ---- */
// @media(min-width:770px) {
//     #particles-js,#particles-js2 {
//         height: 246%;
//     }
// }
// @media(min-width:1020px) {
//     #particles-js,#particles-js2 {
//         height: 258%;
//     }
// }
// @media(min-width:1275px) {
//     #particles-js,#particles-js2 {
//         height: 268%;
//     }
// }

/////////////////////////////////////////////// SECTION HEADER  ////////////////////////////////////////////////////////


.header{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    // z-index: -999;

}
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.hrStyle{
    margin-left: 60vw;
    max-width: 75px;
    border: solid 1px;
    border-color: #b3b2b2;
    @media screen and (min-width:800px){
        margin-left: 40vw;
    }
    @media screen and (min-width:650px){
        margin-left: 55vw;
    }
    
}

@media(min-width:400px) {
    .hrStyle {
        margin-left: 40vw;
    }
}
@media(min-width:575px) {
    .hrStyle {
        margin-left: 41.5vw;
    }
}
@media(min-width:650px) {
    .hrStyle {
        margin-left: 43vw;
    }
}
@media(min-width:750px) {
    .hrStyle {
        margin-left: 45vw;
    }
}
@media(min-width:950px) {
    .hrStyle {
        margin-left: 46.5vw;
    }
}
@media(min-width:1200px) {
    .hrStyle {
        margin-left: 48.2vw;
    }
}
.sizeUp{
    font-size: 13px;
}
.sizePres{
    font-size: 0.55rem;
}
.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing{

    width: 80vw;
    animation: typing 2s steps(100), ;
    white-space: nowrap;
    overflow: hidden;
    animation-delay: 4.85s;
    @media screen and (min-width:1020px){
        width: 97vw;
        animation: typing 2s steps(100), ;
        animation-delay: 4.85s;
        @keyframes typing {
            from {
              width: 0%;
            }
            to{
                width: 70%;
            }
          }
    }
    @media screen and (min-width:1200px){
        width: 98vw;
        animation-delay: 4.85s;
        @keyframes typing {
            from {
              width: 0
            }
            to{
                width: 100%;
            }
          }
    }

}

@keyframes typing {
    from {
      width: 0
    }
    to{
        width: 80%;
    }
  }
  .hideAnimation{

    animation: hideAnimationkey 8.5s;


}


@keyframes hideAnimationkey{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}



/////////////////////////////////////////  NAV + BURGER  //////////////////////////////////////////////////////
#myBtn {
    display: none; /* Masque le bouton par défaut */
    position: fixed; /* Positionne le bouton en haut à droite de l'écran */
    top: 1.5vw;
    left: 1.5vw;
    z-index: 99; /* Assure que le bouton reste au-dessus des autres éléments */
    font-size: 18px;
    border: none;
    outline: none;
    color: #750404c0;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    color: rgb(0, 0, 0);
  }

.letter{
    letter-spacing: 1.5px;
}

.letters{
    letter-spacing: 1px;
}
.hoverBurger{
    transition: all 1s ease-in-out;
}

.hoverBurger:hover{
    transform: scale(105%);
    transform: scale(120%);
    /* animation: HoverBurger 1.5s */
}



@mixin couleurNavM($colorText, $colorHover){
    color: $colorText;
    &:hover{
        background: $colorHover;
    }

}

@mixin couleurNameM($colorBefore ,$colorHover){
    color: $colorBefore;
    &:hover{
        color: $colorHover;
    }
}



.couleurTest{
    @include couleurNavM(rgb(255, 255, 255), #991b1b);
}

.couleurName{
    @include couleurNameM(white,#991b1b);
}


.transitionOnClick{
    animation-delay: 6s;
    height: 100%;
    animation: transitiononclick2 2 ;
}

.transitionOnClick2{
    animation-delay: 6s;
    animation: transitiononclick 2 ;
}

.football{
  scroll-behavior: smooth;
    animation: footballAnim 2s ;
    animation-delay: 4.65s;

}

@keyframes transitiononclick2{
    from{
        width: 0%;
        transform: translateY(-20%);
    }
    to{

        width: 100%;
        transform: translateY(0%);

    }

}

@keyframes transitiononclick{
    from{

        transform: translateY(-20%);
    }
    to{


        transform: translateY(0%);

    }

}

@keyframes footballAnim{
    from{

        opacity: 0;
    }
    to{
        opacity: 1;
    }

}


////////////////////////////////////// MODALS /////////////////////////////////////



.hoverImage:hover {
    animation: hoverImage 1.5;
}


@keyframes hoverImage{
    from{
        opacity: 0;
    }
    to{

        background-color: rgba(0, 0, 0, 0.669);
        opacity: 1;

    }
}
.titreSectionPortfolio{
    color: rgb(165, 14, 14);
}

.actual{
    color: #232427c9;;
}

.hrStyleModal{
    height: 5rem;
    color: #7a7d80;
}

#animation{
    transition: all 1.5s ease-in-out;
    animation: linear 1.5s ;
}

#travaux{
    transition: all 1.5s ease-in-out;
    animation: linear 1.5s ;
}

#porfolio{
    transition: all 1.5s ease-in-out;
    animation: linear 1.5s ;
}


@mixin  indexModal(){
    z-index: 9999;
}

.exo01{
    @include indexModal();
}
.exo02{
    @include indexModal();
}
.exo03{
    @include indexModal();
}
.exo04{
    @include indexModal();
}
.exo05{
    @include indexModal();
}
///////////////////////////////////// SECTION CV //////////////////////////////////////////////////
/// 


.text-color{
    color: rgba(255, 255, 255, 0.5);
}


.btn:link,
.btn:visited {
    // text-transform: uppercase;
    text-decoration: none;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #861010;
    color: rgb(41, 41, 41);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 96%;
    width: 96%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0.25vw;
    z-index: -99;
    transition: all .4s;
}

.btn-white::after {
    background-color: #861010;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}




//////////////////////////////////////////////// SECTION FOOTER BACKGROUND /////////////////////////////////////////////////////////////////////////////




#Clouds {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 60%;
    overflow: hidden;
    animation: FadeIn 3.1s ease-out;
    user-select: none;
    z-index: 0;

  }
  @keyframes FadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Cloud {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 20px;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: Float, FadeFloat;
    z-index: 1;
  }
  .Cloud.Foreground {
    height: 5%;
    min-height: 10px;
    z-index: 0;
  }
  .Cloud.Background {
    height: 10% / 1.1;
    min-height: 5px;
    animation-duration: 210s;
  }
  @keyframes Float {
    from {
      transform: translateX(100%) translateZ(0);
    }
    to {
      transform: translateX(-15%) translateZ(0);
    }
  }
  /*
    @keyframes Float {
      from { transform: translateX(100%) translateY(-100%) translateZ(0); }
      50% { transform: translateX(55%) translateY(0) translateZ(0); }
      to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
    }
    */
  @keyframes FadeFloat {
    0%,
    100% {
      opacity: 0;
    }
    5%,
    90% {
      opacity: 0.6;
    }
  }
  .Cloud:nth-child(10) {
    animation-delay: -184.61538462s;
    top: 60%;
    z-index: 0;
  }
  .Cloud.Foreground:nth-child(10) {
    animation-duration: 80s;
    height: 17%;
  }
  .Cloud.Background:nth-child(10) {
    animation-duration: 110s;
    height: -3.40909091%;
  }
  .Cloud:nth-child(9) {
    animation-delay: -166.15384615s;
    top: 54%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(9) {
    animation-duration: 84s;
    height: 14%;
  }
  .Cloud.Background:nth-child(9) {
    animation-duration: 114s;
    height: -2.15909091%;
  }
  .Cloud:nth-child(8) {
    animation-delay: -147.69230769s;
    top: 48%;
    z-index: 0;
  }
  .Cloud.Foreground:nth-child(8) {
    animation-duration: 88s;
    height: 13%;
  }
  .Cloud.Background:nth-child(8) {
    animation-duration: 118s;
    height: -0.90909091%;
  }
  .Cloud:nth-child(7) {
    animation-delay: -129.23076923s;
    top: 42%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(7) {
    animation-duration: 92s;
    height: 9%;
  }
  .Cloud.Background:nth-child(7) {
    animation-duration: 122s;
    height: 0.34090909%;
  }
  .Cloud:nth-child(6) {
    animation-delay: -110.76923077s;
    top: 36%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(6) {
    animation-duration: 96s;
    height: 6.5%;
  }
  .Cloud.Background:nth-child(6) {
    animation-duration: 126s;
    height: 1.59090909%;
  }
  .Cloud:nth-child(5) {
    animation-delay: -92.30769231s;
    top: 30%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(5) {
    animation-duration: 100s;
    height: 5%;
  }
  .Cloud.Background:nth-child(5) {
    animation-duration: 130s;
    height: 2.84090909%;
  }
  .Cloud:nth-child(4) {
    animation-delay: -73.84615385s;
    top: 24%;
    z-index: 0;
  }
  .Cloud.Foreground:nth-child(4) {
    animation-duration: 104s;
    height: 6%;
  }
  .Cloud.Background:nth-child(4) {
    animation-duration: 134s;
    height: 4.09090909%;
  }
  .Cloud:nth-child(3) {
    animation-delay: -55.38461538s;
    top: 18%;
    z-index: 0;
  }
  .Cloud.Foreground:nth-child(3) {
    animation-duration: 108s;
    height: 11%;
  }
  .Cloud.Background:nth-child(3) {
    animation-duration: 138s;
    height: 5.34090909%;
  }
  .Cloud:nth-child(2) {
    animation-delay: -36.92307692s;
    top: 12%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(2) {
    animation-duration: 112s;
    height: 15%;
  }
  .Cloud.Background:nth-child(2) {
    animation-duration: 142s;
    height: 6.59090909%;
  }
  .Cloud:nth-child(1) {
    animation-delay: -18.46153846s;
    top: 6%;
    z-index: 0;

  }
  .Cloud.Foreground:nth-child(1) {
    animation-duration: 116s;
    height: 12.5%;
  }
  .Cloud.Background:nth-child(1) {
    animation-duration: 146s;
    height: 7.84090909%;
  }
  .Cloud {
    background-image: url(https://icones.pro/wp-content/uploads/2021/04/icone-de-nuage-rouge.png);
  }
  .Cloud.Background {
    background-image: url(https://cdn-icons-png.flaticon.com/512/61/61394.png);
  }
  .bgSection {
    min-height: 100%;
  }
  .bgSection {
    background-image: linear-gradient( #232427 , #0b0707);

    // background-color: #FD940A;
    // background-image: radial-gradient(circle, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%);
  }
  
@media (min-width:600px){
    #Clouds {
        position: absolute;
        top: 0%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 60%;
        overflow: hidden;
        animation: FadeIn 3.1s ease-out;
        user-select: none;
        z-index: 0;
    
      }
      @keyframes FadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .Cloud {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 55px;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-name: Float, FadeFloat;
        z-index: 1;
      }
      .Cloud.Foreground {
        height: 10%;
        min-height: 20px;
        z-index: 0;
      }
      .Cloud.Background {
        height: 60% / 1.1;
        min-height: 8px;
        animation-duration: 210s;
      }
      @keyframes Float {
        from {
          transform: translateX(100%) translateZ(0);
        }
        to {
          transform: translateX(-15%) translateZ(0);
        }
      }
      /*
        @keyframes Float {
          from { transform: translateX(100%) translateY(-100%) translateZ(0); }
          50% { transform: translateX(55%) translateY(0) translateZ(0); }
          to { transform: translateX(-5%) translateY(-100%) translateZ(0); }
        }
        */
      @keyframes FadeFloat {
        0%,
        100% {
          opacity: 0;
        }
        5%,
        90% {
          opacity: 0.6;
        }
      }
      .Cloud:nth-child(10) {
        animation-delay: -184.61538462s;
        top: 60%;
        z-index: 0;
      }
      .Cloud.Foreground:nth-child(10) {
        animation-duration: 80s;
        height: 35%;
      }
      .Cloud.Background:nth-child(10) {
        animation-duration: 110s;
        height: -3.40909091%;
      }
      .Cloud:nth-child(9) {
        animation-delay: -166.15384615s;
        top: 54%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(9) {
        animation-duration: 84s;
        height: 32.5%;
      }
      .Cloud.Background:nth-child(9) {
        animation-duration: 114s;
        height: -2.15909091%;
      }
      .Cloud:nth-child(8) {
        animation-delay: -147.69230769s;
        top: 48%;
        z-index: 0;
      }
      .Cloud.Foreground:nth-child(8) {
        animation-duration: 88s;
        height: 30%;
      }
      .Cloud.Background:nth-child(8) {
        animation-duration: 118s;
        height: -0.90909091%;
      }
      .Cloud:nth-child(7) {
        animation-delay: -129.23076923s;
        top: 42%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(7) {
        animation-duration: 92s;
        height: 27.5%;
      }
      .Cloud.Background:nth-child(7) {
        animation-duration: 122s;
        height: 0.34090909%;
      }
      .Cloud:nth-child(6) {
        animation-delay: -110.76923077s;
        top: 36%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(6) {
        animation-duration: 96s;
        height: 25%;
      }
      .Cloud.Background:nth-child(6) {
        animation-duration: 126s;
        height: 1.59090909%;
      }
      .Cloud:nth-child(5) {
        animation-delay: -92.30769231s;
        top: 30%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(5) {
        animation-duration: 100s;
        height: 22.5%;
      }
      .Cloud.Background:nth-child(5) {
        animation-duration: 130s;
        height: 2.84090909%;
      }
      .Cloud:nth-child(4) {
        animation-delay: -73.84615385s;
        top: 24%;
        z-index: 0;
      }
      .Cloud.Foreground:nth-child(4) {
        animation-duration: 104s;
        height: 20%;
      }
      .Cloud.Background:nth-child(4) {
        animation-duration: 134s;
        height: 4.09090909%;
      }
      .Cloud:nth-child(3) {
        animation-delay: -55.38461538s;
        top: 18%;
        z-index: 0;
      }
      .Cloud.Foreground:nth-child(3) {
        animation-duration: 108s;
        height: 17.5%;
      }
      .Cloud.Background:nth-child(3) {
        animation-duration: 138s;
        height: 5.34090909%;
      }
      .Cloud:nth-child(2) {
        animation-delay: -36.92307692s;
        top: 12%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(2) {
        animation-duration: 112s;
        height: 15%;
      }
      .Cloud.Background:nth-child(2) {
        animation-duration: 142s;
        height: 6.59090909%;
      }
      .Cloud:nth-child(1) {
        animation-delay: -18.46153846s;
        top: 6%;
        z-index: 0;
    
      }
      .Cloud.Foreground:nth-child(1) {
        animation-duration: 116s;
        height: 12.5%;
      }
      .Cloud.Background:nth-child(1) {
        animation-duration: 146s;
        height: 7.84090909%;
      }
      .Cloud {
        background-image: url(https://icones.pro/wp-content/uploads/2021/04/icone-de-nuage-rouge.png);
      }
      .Cloud.Background {
        background-image: url(https://cdn-icons-png.flaticon.com/512/61/61394.png);
      }
      .bgSection {
        min-height: 100%;
      }
      .bgSection {
        // background-color: #232427;
        background-image: linear-gradient( #232427 , #0b0707);
        // background-image: radial-gradient(circle, #370707 0%, #610303 75%, #cb1b1bb4 100%);
      }
}



.shad{
  box-shadow: 0 3px 6px #0003;
}